@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* service_q2u66dv */

.text_color{
  color: hsl(var(--hue), var(--sat), 20%);
}

.navbar_header{
  background-color: hsla(0, 14%, 97%, 0.798);
}

.navbar_list{
  color: var(--title-color);
  font-weight: 500;
  transition: .3s;
}
.navbar_list:hover{
  color: var(--title-color-dark);
}

.wheel{
  animation: scroll 2s  infinite;
}

@keyframes scroll{
   0%{
    transform: translateY(0);
   }
   40%{
    transform: translateY(3.2rem);
   }
   80%{
    transform: translateY(6.4rem);
   }
}

.contact_button:hover .contact_button_span,
.home_button:hover .home_button_hover{
  transform: rotate(-30deg);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0, 0, 0.4, 1);
}




.navbar_bottom{
  box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
  border-radius: 1.5rem 1.5rem 0;
}




.anime{
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  transition:all 1s ease-in-out;
  animation: morph 10s ease-in-out infinite;
}



dialog{
  padding: 2rem;
  border-radius: 1rem;
  size: 1.5rem;
}

@keyframes morph{
  0% {
       border-radius: 60% 40% 30% 70%/60% 30% 70% 40%; 
  }
  
  50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%; 
  }
}


:root {
  --header-height: 3rem;
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;

  
  --body-font: "Poppins", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */




html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}




.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}


.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}




.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}





